
.logo-img {
    margin: 140px auto 20px auto;
    display: block;
    width: 220px;
    height: auto;
}

.search-input {
    display: block;
    width: 500px;
    padding: 10px 30px;
    border-radius: 15px;
    margin: 0 auto;
    border: 1px solid rgb(212, 212, 212);
    box-shadow: 1px 2px 1px rgba(182, 182, 182, 0.5)
}
button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgb(245, 244, 244);
    font-size: 10px;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 8px;
}
.button-follow {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.button-follow button {
    display: block;
    color: rgb(23, 166, 223);
    border: 2px solid rgb(23, 166, 223);
    padding: 10px 20px;
    border-radius: 20px;
    width: 200px;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
}
.followtext {
    display: block;
}  

.container p {
    background-color: yellow;
}
.container > p {
    background-color: red;
}
.container + p {
    background-color: blue;
}
div ~ p {
    background-color: green;
}

a[target] {
    color: pink;
    text-decoration: underline;
}
a[target="_top"] {
    color: yellow;
    text-decoration: none;
}
a:hover {
    font-size: 30px;
}
.container p:active {
    background-color: gray;
}
.input:focus {
    outline: none;
    border: 2px solid blue;
}
